



    
    
    
    .Texto-Menu{
        flex: 1;
        text-align: right;
        background-color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: bold;
        
        

      
}   

      
      
      

      .Logo {
        background: rgb(255, 255, 255);
        text-align: center;
        width: 70px;
        padding: 15px;
        color: #fff;

        
    }

    