/*-------------------------------------Aqui empieza  Iconos de  visor 3 ---------------------------*/

.Circles{

    width: 80%;
    height: 10em;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    



    


    &-Contenedor{

    background-color: rgb(255, 255, 255);
    width:90%;
    height: 15vh;
    
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    

    }


    &-Svg-1{

        background-color: rgb(249, 251, 253);
        width: 100px;
        height:48px;
        border-radius: 100px;
        margin-right: 15px;
        border:1px solid#333333;

        background-image: url(./img/Corazon-Icono-01.svg);
        background-repeat: no-repeat;
        background-size: cover;

        
        }

        &-Svg-2{

            background-color: rgb(249, 251, 253);
            width: 100px;
            height:48px;
            border-radius: 100px;
            margin-right: 15px;
            border:1px solid#333333;
    
            background-image: url(./img/Corazon-Icono-02.svg);
            background-repeat: no-repeat;
            background-size: cover;
    
            
            }


            &-Svg-3{

                background-color: rgb(249, 251, 253);
                width: 100px;
                height:48px;
                border-radius: 100px;
                margin-right: 15px;
                border:1px solid#333333;
        
                background-image: url(./img/Corazon-Icono-03.svg);
                background-repeat: no-repeat;
                background-size: cover;
        
                
                }
            
                &-Svg-4{

                    background-color: rgb(249, 251, 253);
                    width: 100px;
                    height:48px;
                    border-radius: 100px;
                    margin-right: 15px;
                    border:1px solid#333333;
            
                    background-image: url(./img/Corazon-Icono-04.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
            
                    
                    }

        
    &-Texto-1{

        color: #333333;
        
        padding: 0 auto;
        letter-spacing: 0.5pt;
        line-height: 15pt;
        margin: auto;

    }
    

    
}


/*-------------------------------Aqui termina la parte de Celphone---------------------------------*/